# system
.DS_Store

# temporary working dirs
*~

# nanoc
/tmp
/output
*.log
output.diff

# bundler
.bundle
.bundler

# node
node_modules/
.npm/

# firebase hosting
.firebase/*.cache

# tools
.sass-cache
/bin
