@CHARSET "UTF-8";

html {
	height: 100%;
	/*http://lukeroberts.us/2008/12/wallpaper-colourful-wood/*/
	/*
	background-image: url("1920x1200-colour-wood-flip.jpg");
	*/
	
	background-color: #1e427e; /*fallback*/
	background-image: url("Nantes-Tour-LU-7_2.jpg");
	background-position: left bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

body {
	width: 66.66%;
	min-height: 100%;
	box-sizing: border-box;
	margin: 0;
	margin-left: auto;
	padding: 0;
	padding-top: 1em;
	
	font: 120%/1.5 sans-serif;
	
	/*
	color: rgb(255, 255, 255);
	background-color: rgb(211, 207, 196);
	text-shadow: 0 -1px 2px rgb(0, 0, 0);
	*/
	color: rgb(20, 20, 20);
	background-color: white;
	text-shadow: 0 1px white;
	
	background-image: url("noise.png");
	background-repeat: repeat;
	
	box-shadow: -5px -3px 12px -5px rgb(0, 0, 0);
}

.title, .credits, nav {
	font-family: serif;
	position: fixed;
	width: 33.33%;
	color: rgb(255, 255, 255);
	text-shadow: 0 -1px 2px rgb(0, 0, 0);
}

.title {
	left: 0;
	top: 30%;
}

nav {
	left: 0;
	top: 1em;
	width: 30%;
	padding: .25em .5em;
	color: rgb(255,255,255);
	font-weight: bold;
	font-family: sans-serif;
	background-color: rgba(0,0,0,/*.7*/1);
	border-radius: 0 3px 3px 0;
	box-shadow: 0 2px 5px rgba(0,0,0,.7);
}

nav a {
	text-decoration: none;
	color: inherit;
}

nav ul, nav li {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
}
nav li:not(:last-child)::after{
	content: "\2022\00A0";
}

a {
    text-decoration: none;
    color: #08c;
    transition: all 0.3s ease-out;
    
    /* useful for tablet and "pointer-based device" but makes wired stuff when around "body" borders (extra padding)
    position: relative;
    padding: .5em;
    margin: -.5em;
    */
}
 
a:hover, a:focus { color: #0af;
	/*
	color: #111;
	border-bottom: 1px solid #999;
	background-color: #fbeec2;
	*/
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1em;
}

.break {
    -ms-word-break: break-all;
    word-break: break-all;
 
    word-break: break-word;
 
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}

pre {
    white-space: pre-wrap;       /* Chrome & Safari */
    white-space: -moz-pre-wrap;  /* Mozilla since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    
    background: rgb(235, 232, 226);
	border-top: 1px solid rgb(199, 197, 181);
	border-bottom: 1px solid rgb(199, 197, 181);
}

/* same style as twitter bootstrap */
code, pre {
	padding: 0 3px 2px;
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	font-size: 12px;
	color: #333;
}
code {
	padding: 2px 4px;
	color: #d14;
	background-color: #f7f7f9;
	border: 1px solid rgb(187, 187, 187);
	border-radius: 3px;
}
pre code {
	color: inherit;
	background: transparent;
	border: 0 none;
}

.ellipsis {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis; /* Required for IE8 */
    -o-text-overflow: ellipsis; /* Required for Opera */
    text-overflow: ellipsis;
}

.content {
}

.credits {
	bottom: 15%;
	left: 0;
	/* displays nothing until a clean solution is found */
	display: none;
}

.author {
	padding: .5em;
	margin: 1em;
	background-color: rgba(0,0,0,.5);
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.7);
	text-align: center;
	
	font-style: italic;
}

.logo {
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}

.zpe {
	font-weight: bold;
	font-style: italic;
	cursor: help;
	background: rgba(0, 0, 0, .33);
	color: rgb(255, 255, 255);
	padding: 5px;
	border-radius: 50%;
	box-shadow: inset 0 0 5px rgba(0,0,0,.7);
}

.zpe:hover {
	background: rgba(0, 0, 0, .5);
}

ul.abilities {
	margin: 0;
	padding: 0;
}

.abilities li {
	display: inline;
}

.abilities li::after{
	content: ", ";
}
.abilities li:last-child::after{
	content: ".";
}

.lastname {
	text-transform: uppercase;
}

.important {
	font-size: 200%;
}

p {
	margin: 0 1em 1em;
	padding: 0;
	line-height: 1.5em;
}

.editor label {
	display: none;
}

.editor input[type=text],
.editor textarea {
	font-size: 1em;
	width: 100%;
	background-color: rgba(255,255,255,.7);
	border: 1px solid rgba(0,0,0,.5);
	outline-style: none; 
}