<!DOCTYPE html>
<html lang="<%= @config[:site][:lang] %>">
<head>

<meta charset="UTF-8" />
<title><%= item[:title] %> &bull; <%= @config[:site][:name] %></title>

<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/autumn.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/borland.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/bw.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/colorful.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/default.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/emacs.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/friendly.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/fruity.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/github.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/manni.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/monokai.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/murphy.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/native.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/pastie.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/perldoc.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/tango.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/trac.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/vim.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/vs.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/zenburn.css" disabled>

<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/vim/desert.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/vim/freya.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/vim/inkpot.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/vim/mustang.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/vim/no_quarter.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/vim/nuvola.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/vim/peaksea.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/vim/railscasts.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/vim/rdark.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/vim/slate.css" disabled>
<link rel="stylesheet" type="text/css" href="/assets/styles/pygments/vim/wombat.css" disabled>

<link rel="stylesheet" href="/assets/themes/colorz/styles.css">
<link rel="stylesheet" href="/assets/themes/colorz/editcontrols.css">
<link rel="shortcut icon" href="/assets/themes/colorz/favicon.ico">

<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">

</head>
<body>